/* Đặt nền cho toàn bộ trang */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Container của form đăng ký */
.form-container {
  background-color: #ffffff;
  margin-top: 200px;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 480px;
  box-sizing: border-box;
}

/* Tiêu đề */
h2 {
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
  font-size: 20px;
}

/* Các nhóm form */
.form-group {
  margin-bottom: 15px;
}

/* Nhãn của các trường input */
label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  color: #555555;
  margin-bottom: 5px;
}

/* Các trường input */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Button đăng ký */
input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-top: 15px;
}

/* Hiệu ứng hover cho button */
input[type="submit"]:hover {
  background-color: #45a049;
}

p, .Link{
  text-decoration: none;
  font-size: 14px;
  text-align: center;
}

.Link:hover{
  font-weight: bold;
  text-decoration: underline;
}